<div class="row">
  <div class="mx-auto col-md-12">
    <h1 style="background-color: green" class="card-title text-center">Welcome Message</h1>
  </div>
</div>

<div class="row" style="margin-top:9%">
  <div class="card-body mx-auto col-md-8">
    <form>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary btn-block">
            New Case
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <input type="text" placeholder="XXXX-YYYY-ZZZZ-1234" class="form-control text-center">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary btn-block">
            Connect to existing case
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

