<div *ngIf="!showCaseDetails" class="row" style="margin-top:9%">
  <div class="card-body mx-auto col-md-4">
    <form>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <a href="case" type="button" class="btn btn-primary btn-block">
            {{ 'USER-HOME.NEW-CASE' | translate }}
          </a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <input [(ngModel)]="secrectKey" type="text" name="secrectKey" placeholder="XXXX-YYYY-ZZZZ-1234" class="form-control text-center">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <a href="javascript:void(0)" type="button" class="btn btn-primary btn-block" (click)="getCaseId()">
            {{ 'USER-HOME.CONNECT' | translate }}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

<app-user-add-edit-case *ngIf="showCaseDetails" [CaseIdForEdit]="caseId" [userMode]="'edit'"></app-user-add-edit-case>

