<div class="mb-5">
  <div class="row">
    <div class="mx-auto col-md-11">
      <h1 style="background-color: #1eae98" class="card-title text-center">
        <img style="max-height:70px" src="data:image/jpg;base64,{{_siteSetting.logo}}" alt="" />
        {{_siteSetting.site_name}}
      </h1>
    </div>
    <div class="col-md-1">
      <div class="circle">En</div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<div class="row fixed-bottom container">
  <div class="mx-auto col-md-12">
    <div class="row">
      <div class="col">
        <h5>About</h5>
        <p [innerHTML]="_siteSetting.about"></p>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <h5>Contact</h5>
        <p [innerHTML]="_siteSetting.contact"></p>
      </div>

    </div>
  </div>
</div>
