<div class="row mt-5">
  <div class="mx-auto col-md-9">
    <div class="table-responsive mt-15">
      <ngx-datatable class="material"
                     [rows]="dummyData"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     rowHeight="auto"
                     [limit]="5"
                     (page)="setPage($event)"
                     [selectAllRowsOnPage]="true">
        <ngx-datatable-column prop="color" name="Last Update" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column prop="type" name="User" [width]="150">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a class="nav-link edit" href="javascript:void(0)">
              {{value}}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="registration" name="Role" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column prop="capacity" name="Last Visit" [width]="150"></ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>


<div class="row mt-3">
  <div class="mx-auto col-md-9">
    <div class="row mt-2">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click)="addNewUserModal(addNewUser)">Add New</button>
      </div>
    </div>
  </div>
</div>


<!--#addNewUser Modal-->
<ng-template #addNewUser let-modal>
  <div class="modal-header" style="background-color: #47597E;">
    <h5 class="modal-title" id="modal-basic-title">Add User</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="background-color: #47597E;">
    <form>

      <div class="row">
        <div class="col-4">
          <label>SysAdmin: </label>
        </div>
        <div class="col-3">
          <input type="checkbox" name="admin" class="form-control float-left" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          <label>Case Manager All: </label>
        </div>
        <div class="col-3">
          <input type="radio" name="caseMgr" class="form-control float-left" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          <label>Case Manager Assigned: </label>
        </div>
        <div class="col-3">
          <input type="radio" name="caseMgr" class="form-control float-left" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <input type="password" class="form-control" placeholder="New Password" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <input type="password" class="form-control" placeholder="Confirm New Password" />
        </div>
        <div class="col-md-3 text-center">
          <a href="javascript:void(0)" type="button" class="btn btn-primary">
            Password Reset
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 text-center">
          <a href="javascript:void(0)" type="button" class="btn btn-primary">
            Account Disable
          </a>
        </div>
        <div class="col-md-6 text-center">
          <a href="javascript:void(0)" type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">
            Save & Close
          </a>
        </div>
      </div>
    </form>
  </div>
</ng-template>

