<!-- Toolbar -->
﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="nav-item nav-link" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Application</a>
              <div class="dropdown-menu">
                  <a class="nav-item nav-link" routerLink="/application">Application</a>
                  <a class="nav-item nav-link" routerLink="/applicationedit">Add application</a>
                  <a class="nav-item nav-link" routerLink="/approvalsetup">Approver Setup</a>
                  <a class="nav-item nav-link" routerLink="/approverdelegation">ApproverDelegation Setup</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Information</a>
              <div class="dropdown-menu">
                  <a class="nav-item nav-link" routerLink="/users">User List</a>
                  <a class="nav-item nav-link" routerLink="/userworkflowmonitor">Workflow Monitor</a>
                  <a class="nav-item nav-link" routerLink="/usergroup">User Groups</a>
              </div>
          </li> -->
      </ul>

      <div class="nav-item dropdown my-2 my-lg-0" aria-controls="navbarSupportedContent" aria-expanded="false">
          <a class="nav-item">Admin Login</a>
      </div>
  </div>
</nav>

<app-user-home></app-user-home>

<router-outlet></router-outlet>
