<div class="container mt-5 mb-5">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Site Settings</a>
      <ng-template ngbNavContent>

        <form [formGroup]="siteSettingForm" (ngSubmit)="onSaveOrUpdate()" aria-labelledby="title">
          <div class="row mt-4">
            <div class="col-8">
              <label>Site Name</label>
              <input formControlName="site_name" type="text" class="form-control" placeholder="Site Name" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-3">
              <label for="file-upload" class="btn btn-primary">
                Choose Website Logo
              </label>
              <input (change)="onFileChanged($event)" accept=".gif,.jpg,.jpeg,.png" class="d-none" id="file-upload" type="file" />
            </div>
            <div class="col-2">
              <img style="max-height:80px; max-width: 80px" src="{{_siteSetting.logo_show}}" alt="" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <label>About</label>
              <textarea formControlName="about" class="form-control" style="height: 100px" placeholder="About section"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <label>Contact</label>
              <textarea formControlName="contact" class="form-control" style="height: 100px" placeholder="Contact section"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8  text-center">
              <button class="btn-lg btn-primary" type="submit">
                <span>Update</span>
              </button>
            </div>
          </div>

        </form>
      </ng-template>
    </li>

    <li ngbNavItem>
      <a ngbNavLink>Email</a>
      <ng-template ngbNavContent>

        <div class="row mt-4 ml-1">
          <div class="col-8">
            <input [(ngModel)]="_email.is_active" class="form-check-input" type="checkbox" value="" id="active-mail">
            <label class="form-check-label" for="active-mail">
              Active Email  <i class="fa fa-info-circle" style="cursor: pointer" aria-hidden="true" title="Please check this box if you want to active Email server"></i>
            </label>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <label>From</label>
            <input type="text" class="form-control" placeholder="Email From" [(ngModel)]="_email.mail_from"/>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <label>Host</label>
            <input type="text" class="form-control" placeholder="smtp.test.com" [(ngModel)]="_email.host" />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <label>Port</label>
            <input type="text" class="form-control" placeholder="587" [(ngModel)]="_email.port" />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <label>Host Username</label>
            <input type="text" class="form-control" placeholder="Host Username" [(ngModel)]="_email.username" />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-8">
            <label>Host Password</label>
            <input type="text" class="form-control" placeholder="Host Password" [(ngModel)]="_email.password" />
          </div>
        </div>

        <p class="text-warning mt-2">Please provide all the information. Otherwise Email will not work !!!</p>

        <div class="row mt-3">
          <div class="col-8  text-center">
            <button class="btn-lg btn-primary" (click)="UpdateEmailConfig()">
              <span>Update</span>
            </button>
          </div>
        </div>

      </ng-template>
    </li>

    <li ngbNavItem>
      <a ngbNavLink>Database</a>
      <ng-template ngbNavContent>
        <div class="row mt-4">
          <div class="col-3">
            <button type="button" (click)="backupDB()" class="btn btn-primary w-100">Backup Database</button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <label for="file-upload" class="btn btn-primary btn-block">
              Select DB Backup
            </label>
            <input accept=".zip" (change)="onFileUpload($event)" class="d-none" id="file-upload" type="file" />
          </div>
          <div class="col-3" [hidden]="!_dbImportDetails.FileName">
            <p>{{_dbImportDetails.FileName}}</p>
            <button type="button" (click)="confirmDBImport()" class="btn btn-warning">Import Backup</button>
          </div>
          <!--<div class="col-2" [hidden]="!_dbImportDetails.FileName">
            <button type="button" (click)="confirmDBImport()" class="btn btn-warning">Start Import</button>
          </div>-->
        </div>

      <!--<div class="row mt-5">
        <div class="col-3">
          <button type="button" class="btn btn-primary w-100">Export Database encrypted</button>
        </div>
        <div class="col-5">
          <input class="form-control w-100" type="password" placeholder="Password of DB" />
        </div>
        <div class="col-2">
          <i class="fa fa-key fa-2x" aria-hidden="true"> </i>
        </div>
      </div>-->

        <div class="row mt-3 mb-5">
          <div class="col-3">
            <button (click)="purgeDB()" type="button" class="btn btn-danger w-100">Purge Database of records</button>
          </div>
        </div>
</ng-template>
    </li>


  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>


<ngx-toasta></ngx-toasta>
