<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Site Name" />
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary w-50">Save</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Path_To_Site_Logo" />
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary w-50">Upload...</button>
    </div>
    <div class="2">
      <img src="assets/site_logo.PNG"/>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <textarea class="form-control" style="height: 100px" placeholder="About section"></textarea>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary w-50">Save</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <textarea class="form-control" style="height: 100px" placeholder="Contact section"></textarea>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary w-50">Save</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Email TO for notifications" />
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary w-25 mr-3">Save</button>
      <button type="button" class="btn btn-primary w-25">Test</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <input type="text" class="form-control" placeholder="Email from for notifications" />
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary w-50">Save</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <button type="button" class="btn btn-primary w-100">Backup Database</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <button type="button" class="btn btn-primary w-100">Import Database</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <button type="button" class="btn btn-primary w-100">Export Database in clear</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <button type="button" class="btn btn-primary w-100">Export Database encrypted</button>
    </div>
    <div class="col-5">
      <input class="form-control w-100" type="text" placeholder="Password of DB"/>
    </div>
    <div class="col-2">
      <i class="fa fa-key fa-2x" aria-hidden="true"> </i>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3">
      <button type="button" class="btn btn-primary w-100">Purge Database of records</button>
    </div>
  </div>

</div>
