<div class="container mt-5 mb-5">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Site Settings</a>
      <ng-template ngbNavContent>

        <form [formGroup]="siteSettingForm" (ngSubmit)="onSaveOrUpdate()" aria-labelledby="title">
          <div class="row mt-4">
            <div class="col-8">
              <label>Site Name</label>
              <input formControlName="site_name" type="text" class="form-control" placeholder="Site Name" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-3">
              <label for="file-upload" class="btn btn-primary">
                Choose Website Logo
              </label>
              <input (change)="onFileChanged($event)" accept=".gif,.jpg,.jpeg,.png" class="d-none" id="file-upload" type="file" />
            </div>
            <div class="col-2">
              <img style="max-height:80px; max-width: 80px" src="{{_siteSetting.logo_show}}" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <label>About</label>
              <textarea formControlName="about" class="form-control" style="height: 100px" placeholder="About section"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <label>Contact</label>
              <textarea formControlName="contact" class="form-control" style="height: 100px" placeholder="Contact section"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <label>Email FROM</label>
              <input formControlName="email_from_notify" type="email" class="form-control" placeholder="Email FROM for notifications" />
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8  text-center">
              <button class="btn-lg btn-primary" type="submit">
                <span>Update</span>
              </button>
            </div>
          </div>

        </form>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Database</a>
      <ng-template ngbNavContent>
        <div class="row mt-4">
          <div class="col-3">
            <button type="button" (click)="backupDB()" class="btn btn-primary w-100">Backup Database</button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <label for="file-upload" class="btn btn-primary btn-block">
              Select DB Backup
            </label>
            <input accept=".zip" (change)="onFileUpload($event)" class="d-none" id="file-upload" type="file" />
          </div>
          <div class="col-3" [hidden]="!_dbImportDetails.FileName">
            <p>{{_dbImportDetails.FileName}}</p>
            <button type="button" (click)="confirmDBImport()" class="btn btn-warning">Import Backup</button>
          </div>
          <!--<div class="col-2" [hidden]="!_dbImportDetails.FileName">
            <button type="button" (click)="confirmDBImport()" class="btn btn-warning">Start Import</button>
          </div>-->
        </div>

          <div class="row mt-3 mb-5">
            <div class="col-3">
              <button (click)="purgeDB()" type="button" class="btn btn-danger w-100">Purge Database of records</button>
            </div>
          </div>
</ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>


<ngx-toasta></ngx-toasta>
