<div class="row mt-5">
  <div class="mx-auto col-md-9">
    <div class="table-responsive mt-15">
      <input type="text"
             style="padding:8px;margin:15px auto;width:30%;"
             placeholder="Type to filter the ID column..."
             (keyup)="updateFilter($event)" />

      <ngx-datatable class="material"
                     [rows]="row"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     rowHeight="auto"
                     [limit]="10"
                     [selected]="selected"
                     [selectionType]="SelectionType.checkbox"
                     (select)="onSelect($event)"
                     (page)="setPage($event)"
                     [selectAllRowsOnPage]="true"
                     [messages]="{emptyMessage: 'There are no cases...'}">


        <ngx-datatable-column [width]="30"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false"
                              [headerCheckboxable]="true"
                              [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column prop="date_created" name="Creation Date" [width]="10">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.date_created | date:'MM-dd-yyyy'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" name="ID" [width]="150">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a class="nav-link edit" href="/case/{{value}}/reply" target="_blank">
              {{value}}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="status" name="Status" [width]="10">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

            <h6 *ngIf="value == 'NEW' "><span class="badge badge-success">{{value}}</span></h6>
            <h6 *ngIf="value == 'OPEN' "><span class="badge badge-primary">{{value}}</span></h6>
            <h6 *ngIf="value == 'FAKE' "><span class="badge badge-warning">{{value}}</span></h6>
            <h6 *ngIf="value == 'CLOSE' "><span class="badge badge-danger">{{value}}</span></h6>

          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="system_user_id" name="Assignee" [width]="100"></ngx-datatable-column>
        <ngx-datatable-column prop="case_open_time" name="Time Open" [width]="10">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.case_open_time | date:'MM-dd-yyyy'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="last_visit" name="Last Visit" [width]="10">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row.last_visit | date:'MM-dd-yyyy'}}
          </ng-template>
        </ngx-datatable-column>


        <!--<ngx-datatable-column name="Action" [width]="200" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <a class="btn btn-sm btn-primary" style="width: 70px; cursor:pointer">Edit</a>&nbsp;
      </ng-template>
    </ngx-datatable-column>-->
      </ngx-datatable>
    </div>

  </div>
</div>


<div class="row mt-3 mb-5">
  <div class="mx-auto col-md-9">
    <div class="row">
      <div class="col-md-9 text-center mx-auto">
        <a href="javascript:void(0)" (click)="getSystemUsers(assign)" type="button" class="btn btn-primary mr-1 w-25">
          Re-Assign to
        </a>
        <a href="javascript:void(0)" (click)="setCaseStatus('FAKE')" type="button" class="btn btn-warning mr-1 w-25">
          Status as Fake
        </a>
        <a href="javascript:void(0)" (click)="setCaseStatus('CLOSE')" type="button" class="btn btn-danger mr-1 w-25">
          Close Case
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #assign let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Assign User to case</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <label>Select a User to Assign Case</label>
        <select *ngIf="systemUsers.length > 0" [(ngModel)]="selectedUser" class="form-control">
          <option *ngFor="let user of systemUsers" value="{{user.id}}">{{user.email}}</option>
        </select>
        <p *ngIf="systemUsers.length == 0">No User to select</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-outline-success" (click)="assignCaseToUser(); modal.close('Save click')">Save</button>
  </div>
</ng-template>

